<footer>
  <div class="text-center">Made with <i style="color: red" class="fa-solid fa-heart"></i> by me, <span class="name">Kerolos nady</span></div>
  <div class="contact ">
    <a href="https://github.com/kerolosnady202" target="_blank"><i class="fa-brands fa-github "></i> <span>Github</span></a>
    <a href="https://www.linkedin.com/in/kerolos-nady-598833219/" target="_blank"><i class="fa-brands fa-linkedin "></i> <span>Linkedin</span></a>
    <a href="https://www.facebook.com/profile.php?id=100008297653914&locale=ar_AR" target="_blank"><i class="fa-brands fa-facebook "></i> <span>Facebook</span></a>
    <a href=" https://wa.me/01115935952" target="_blank"><i class="fa-brands fa-whatsapp "></i> <span>Whatapp</span></a>
  </div>
 <div class="text-center mt-2">&copy; 2024 , All Rights Reserved.</div>
</footer>
