@media (min-width:768px) {
  .nav{
   width: fit-content;
   color: white;
   margin: 15px auto;
   border-radius: 40px;
   padding: 5px 40px;
   border: 1px solid #ff761180 ;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 30px -12px;
   top: -10px;
  }
  .nav li a{
    position: relative;
    transition:all 1s;
  }
  .nav li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 0px;
    height: 2px;
    background-color: var(--main-text);
    transition: 0.5s;
  }
  .nav li a.active::after{
    width: 85%;
  }
}


@media (max-width:767px) {
  .nav{
    background-color: transparent !important;
  }

  .btnshow{
    border-radius: 25px;
    outline: 0;
    position: absolute;
    top: 15px;
    right: 7px;
  }
  .offcanvas{

    background: #ffffffe3;
    top: 10%;
    right: 1%;
    border-radius: 50%;
    height: 0;
    width: 0;
    transition: all 0.5s;
  }
  .offcanvas.show{
    width: 75%;
    border-radius: 5px;
    height: 100%;
  }
  .offcanvas.hiding , .offcanvas.hide{
    transition: all 0.3;
    width: 0;
    border-radius: 50%;
    height: 0;
    right: -20px;
  }
  .nav-item a{
    transform: translateX(110px) !important;
    opacity: 0;
    color: var(--main-text);
  }
  .nav-item a i{
    display: inline-block !important;
  }
  .nav-item:first-child a{
    /* transition-delay: 0.5s;
    transition: all 0.3s; */
    transition-delay: 0.6s;
    transition-duration:0.3s;
    transition-property: all;
  }
  .nav-item:nth-child(2) a{
    transition-delay: 0.9s;
    transition-duration:0.3s;
    transition-property: all;
  }
  .nav-item:nth-child(3) a{
    transition-delay: 1.2s;
    transition-duration:0.3s;
    transition-property: all;
  }
  .nav-item:nth-child(4) a{
    transition-delay: 1.5s;
    transition-duration:0.3s;
    transition-property: all;
  }
  .offcanvas-end.show  .nav-item a{
    transform: translateX(10px) !important;
    opacity: 1;
  }
}
