<div class="data">
  <div class="text-center " style="color: #83817f;">I am available for freelancing work.</div>
   <div class="contact">
      <div class="contact-item">
        <i class="fa-solid fa-phone"></i>
        <p>+20 111-593-5952</p>
      </div>
      <div class="contact-item">
        <i class="fa-solid fa-paper-plane"></i>
        <p>kerolosnady199@gmail.com</p>
      </div>
   </div>
   <div class="icons d-flex justify-content-center mt-2">
    <a href="https://github.com/kerolosnady202" target="_blank"><i class="fa-brands fa-github "></i></a>
    <a href="https://www.linkedin.com/in/kerolos-nady-598833219/" target="_blank"><i class="fa-brands fa-linkedin "></i></a>
    <a href="https://www.facebook.com/profile.php?id=100008297653914&locale=ar_AR" target="_blank"><i class="fa-brands fa-facebook "></i></a>
    <a href=" https://wa.me/01115935952" target="_blank"><i class="fa-brands fa-whatsapp "></i></a>
   </div>
</div>
<div class="contact pb-4">
  <div class="container">
    <div class="row d-flex align-items-center">
     <div class="col-md-8 ">
      <form  action="https://formsubmit.co/afb37e58d4118996c149e2ff02e5a117" method="POST">
        <label for="name">Full Name :</label>
        <input type="text" id="name" name="name" placeholder="Enter Your name" class="form-control">
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" placeholder="Enter Your email" class="form-control">
        <label for="name">Message :</label>
        <textarea name="" id=""  name="message" rows="5" class="form-control" placeholder="Enter Your Message"></textarea>
       <!--  <input type="hidden" name="_next" value="https://yourdomain.co/contact.html"> -->
        <button class="btn btn-primary d-block w-75 mx-auto mt-2" type="submit">Send Message</button>
      </form>
     </div>
     <div class="col-md-4  ">
      <img class="w-100"  src="assets/image/main.gif" alt="">
     </div>
    </div>
  </div>
</div>
