.tool{
  background-color: #00000021;
  color: var(--main-text);
  padding: 3px 7px;
  border-radius: 5px;
  margin:  5px;
}
.close{
  position: absolute;
    z-index: 1000;
    top: 10px;
    right: 10px;
}
@media (max-width:767px) {
  .name{
    margin-top: 50px;
  }
  .close{
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

}
.icon i
{
  font-size: 18px;
  color: var(--main-text);
  margin: 5px 20px;
}
